.content { 
  padding-top: 40px; 
  padding-bottom: 40px;
  height: 100%; 
  overflow:scroll;
}
.centered { 
	text-align: center;
	padding-top: 20px;
}  


.div {  
	width: 150px; 
	height: 150px;
	overflow: scroll; 
} 

.resultFont { 
	font-size: 40px;
	color: Bronze; 
	line-height: 150%;
}

.camera-popup video {
   max-width:250px;
}