.content { 
  padding-top: 40px; 
  padding-bottom: 40px;
  height: 100%; 
  overflow:scroll;
}
.centered { 
	text-align: center;
	padding-top: 20px;
}  

.div {  
	width: 150px; 
	height: 150px;
	overflow: scroll; 
} 

.resultFont { 
	font-size: 40px;
	color: Bronze; 
	line-height: 150%;
}

#view-image {
	max-height: 350px;
  max-width: 400px;
	width: 300px;
	height: 300px;
} 

#email { 
	text-align: center; 
	margin-top: 50px;
} 

